body{
	background-color: #f4f4f4;
	color:#555555;
	
	font: normal 16px Arial, Helvetica, sans-serif;
	
	line-height: 1.6em;
	margin:0;
}
.game_board{
	float: right;
	width: 1239px;
	height: 680px;
	background-size: cover;
	background: url("/resources/Image files/Board_for_cropping.png") no-repeat top right;
	margin: 0;
	padding:0;
}
.grid{
	margin-left: 46px;
	margin-top: 1px;
	margin-right: 77px;
	margin-bottom: 9px;
}
.gridblock{
	width: 97px;
	height: 80px;
	margin: 2px 2px 3px 2px;
	float: left;

}
.gridblock:hover{
	  background-color: white;  
}

.sidepanel{
	float:left;
	margin:0;
	padding:0;
	padding-left:10px;
	width: 270px;
	height: 680px;
	background-color: #555;
}
.sidepanel form{

}
.sidepanel input[type=number] {
	width: 20%;
	margin-bottom: 5px;
}
