/*TODO: Consolidate these better (multi classes for single divs...bigblock class not implemented yet)*/

#game_board{
    float:right;
    width:1067px;
    height:680px;
    margin:5px;
    border:3px solid black;
    background-image: url("resources/Image files/big_map3.png");
    background-size:contain;
    background-repeat: no-repeat;
    z-index: 10;
}

.grid{
    margin: 1px;
}

.gridblockLeftBig{
    z-index: 15;
    position: relative;
    width: 210px;
    height: 212px;
    margin-bottom: 2px;
    margin-right: 2px;
    float: left;
}

.gridblockLeftBig:hover{
    background-color: darkred;
}

.gridblockRightBig{
    z-index: 15;
    position: relative;
    width: 240px;
    height: 493px;
    margin-top: 2px;
    margin-right: 3px;
    float: right;
}

.gridblockRightBig:hover{
    background-color: darkred;
}

.gridblock{
    z-index: 15;
    position: relative;
    width: 82px;
    height: 67px;
    margin-left: 2px;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 2.5px;
    float: left;
}

.gridblock:hover{
    background-color: deeppink;
}

.gridblock2{
    z-index: 15;
    position: relative;
    width: 82px;
    height: 67px;
    margin-left: 2px;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 2.5px;
    float: left;
}

.gridblock2:hover{
    background-color: floralwhite;
}

.gridblockEmptyLeft{
    z-index: 15;
    position: relative;
    width: 35px;
    height: 352px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 5px;
    float: left;
}
.gridblockEmptyLeft:hover{
    background-color: deeppink;
}

#bigblock1{
    visibility: hidden;
    z-index: 20;
    position: absolute;
    background-color: green;
    width: 250px;
    height: 205px;
    margin-left: 44px;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 2.5px;
}

#bigblock2{
    visibility: hidden;
    z-index: 20;
    position: absolute;
    background-color: green;
    width: 250px;
    height: 205px;
    margin-left: 300px;
    margin-right: 3px;
    margin-top: 100px;
    margin-bottom: 2.5px;
}

#bigblock3{
    visibility: hidden;
    z-index: 20;
    position: absolute;
    background-color: green;
    width: 250px;
    height: 205px;
    margin-left: 565px;
    margin-right: 3px;
    margin-top: 295px;
    margin-bottom: 2.5px;
}

#bigblock4{
    visibility: hidden;
    z-index: 20;
    position: absolute;
    background-color: green;
    width: 250px;
    height: 205px;
    margin-left: 565px;
    margin-right: 3px;
    margin-top: 295px;
    margin-bottom: 2.5px;
}

#bigblock5{
    visibility: hidden;
    z-index: 20;
    position: absolute;
    background-color: green;
    width: 250px;
    height: 205px;
    margin-left: 565px;
    margin-right: 3px;
    margin-top: 295px;
    margin-bottom: 2.5px;
}

#bigblock6{
    visibility: hidden;
    z-index: 20;
    position: absolute;
    background-color: green;
    width: 250px;
    height: 205px;
    margin-left: 565px;
    margin-right: 3px;
    margin-top: 295px;
    margin-bottom: 2.5px;
}

#bigblock7{
    visibility: hidden;
    z-index: 20;
    position: absolute;
    background-color: green;
    width: 250px;
    height: 205px;
    margin-left: 565px;
    margin-right: 3px;
    margin-top: 295px;
    margin-bottom: 2.5px;
}

#bigblock8{
    visibility: hidden;
    z-index: 20;
    position: absolute;
    background-color: green;
    width: 250px;
    height: 205px;
    margin-left: 565px;
    margin-right: 3px;
    margin-top: 295px;
    margin-bottom: 2.5px;
}

#bigblock9{
    visibility: hidden;
    z-index: 20;
    position: absolute;
    background-color: green;
    width: 250px;
    height: 205px;
    margin-left: 565px;
    margin-right: 3px;
    margin-top: 295px;
    margin-bottom: 2.5px;
}

#bigblock10{
    visibility: hidden;
    z-index: 20;
    position: absolute;
    background-color: green;
    width: 250px;
    height: 205px;
    margin-left: 565px;
    margin-right: 3px;
    margin-top: 295px;
    margin-bottom: 2.5px;
}

#bigblock11{
    visibility: hidden;
    z-index: 20;
    position: absolute;
    background-color: green;
    width: 250px;
    height: 205px;
    margin-left: 565px;
    margin-right: 3px;
    margin-top: 295px;
    margin-bottom: 2.5px;
}

#bigblock12{
    visibility: hidden;
    z-index: 20;
    position: absolute;
    background-color: green;
    width: 250px;
    height: 205px;
    margin-left: 565px;
    margin-right: 3px;
    margin-top: 295px;
    margin-bottom: 2.5px;
}