#game_board{
    float:right;
    width:1067px;
    height:680px;
    margin:5px;
    border:3px solid black;
    background-image: url("resources/Image files/big_map3.png");
    background-size:contain;
    background-repeat: no-repeat;
    z-index: 10;
}

.grid{
    margin: 1px;
}

.gridblockLeftBig{
    z-index: 15;
    position: relative;
    width: 210px;
    height: 212px;
    margin-bottom: 2px;
    margin-right: 2px;
    float: left;
}

.gridblockLeftBig:hover{
    background-color: deeppink;
}

.gridblockRightBig{
    z-index: 15;
    position: relative;
    width: 240px;
    height: 493px;
    margin-top: 2px;
    margin-right: 3px;
    float: right;
}

.gridblockRightBig:hover{
    background-color: deeppink;
}

.gridblock{
    z-index: 15;
    position: relative;
    width: 82px;
    height: 67px;
    margin-left: 2px;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 2.5px;
    float: left;
}

.gridblock:hover{
    background-color: deeppink;
}

.gridblockEmptyLeft{
    z-index: 15;
    position: relative;
    width: 35px;
    height: 352px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 5px;
    float: left;
}
.gridblockEmptyLeft:hover{
    background-color: deeppink;
}

#bigblock1{
    visibility: hidden;
    z-index: 20;
    position: absolute;
    width: 250px;
    height: 205px;
    margin-left: 390px;
    margin-right: 3px;
    margin-top: 5px;
    margin-bottom: 2.5px;
}
#bigblock1:hover{
    background-color: green;
}